.label {
    -fx-font-size: 27px;
    -fx-font-family: "Lora-Bold";
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.label-small {
    -fx-font-size: 23px;
    -fx-font-family: "Lora-Bold";
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.label-xsmall{
    -fx-font-size: 17px;
    -fx-font-family: "Lora-Bold";
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.button {
    -fx-width: 80%;
    -fx-background-color: white;
    -fx-background-image: url('../icons/audio.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button:hover {
    -fx-background-color: lightblue;
    -fx-effect: dropshadow(gaussian, lightgray, 20, -5, 0, 0);
}

.button:default {
    -fx-effect: dropshadow(gaussian, black, 20, -5, 0, 0);
}