* {
    -fx-box-sizing: border-box;
}

.main-left {
    -fx-width: 25%;
    -fx-float: left;
    -fx-background-color: white;
}

.square-button {
    -fx-width: 20%;
    -fx-float: right;
    -fx-background-color: white;
}

.main-right {
    -fx-background-color: rgba(156, 158, 164, 0.1); /* Slightly more visible gray */
}

.question-box {
    -fx-alignment: CENTER_LEFT;
}

.question-box .label {
    -fx-wrap-text: true;
    -fx-text-alignment: left;
}

.answer-box {
    -fx-alignment: CENTER_LEFT;
}

.answer-box .label {
    -fx-wrap-text: true;
    -fx-text-alignment: left;
}

.button-box .button {
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

/* Button hover effect */
.button-box .button:hover {
    -fx-background-color: rgba(0, 50, 250, 0.2);
}

/* Button pressed effect */
.button-box .button:pressed {
    -fx-background-color: rgba(0, 50, 250, 0.25);
}