.dialogue {
    -fx-font-size: 34px;
    -fx-font-family: "Lora-Bold";
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}


.dialogue-header {
    -fx-font-size: 36px;
    -fx-font-family: "Lora-Bold";
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}


.dialogue-content {
    -fx-font-size: 22px;
    -fx-font-family: "Lora-Bold";
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.button {
    -fx-font-size: 36px;
    -fx-font-family: "Lora-Bold";
    -fx-background-color: rgba(51, 0, 102, 0.09);
    -fx-padding: 10px 40px;
}

.button:hover {
    -fx-background-color: rgba(0, 50, 250, 0.1);
}

.button:focused {
    -fx-background-color: rgba(0, 50, 250, 0.2);
}

.button:default {
    -fx-background-color: rgba(51, 0, 102, 0.1);
}