.question-label {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.answer-label {
    -fx-font-size: 26px;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
}

.button {
    -fx-width: 80%;
    -fx-background-color: rgba(51, 0, 102, 0.09);
    -fx-font-size: 26px;
}

.button:hover {
    -fx-background-color: rgba(0, 50, 250, 0.1);
}

.button:focused {
    -fx-background-color: rgba(0, 50, 250, 0.3);
}

.button:selected {
    -fx-background-color: rgba(0, 50, 250, 0.3);
}

.button:selected:hover {
    -fx-background-color: rgba(0, 50, 250, 0.2);
}

.button:focused:selected {
    -fx-background-color: rgba(0, 50, 250, 0.3);
}

.button:focused:selected:hover {
    -fx-background-color: rgba(0, 50, 250, 0.2);
}

.button:focused:hover {
    -fx-background-color: rgba(0, 50, 250, 0.4);
}

.button:selected:focused {
    -fx-background-color: rgba(0, 50, 250, 0.5);
    -fx-effect: dropshadow(gaussian, white, 20, -5, 0, 0);
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: lightgrey;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, lightgray, 20, -6, 0, 0);
}

.check-box:hover .box {
    -fx-border-color: lightgray;
    -fx-border-radius: 6px;
    -fx-effect: dropshadow(gaussian, white, 20, -6, 0, 0);
}

.check-box:selected .mark {
    -fx-background-color: #333333;
}

.check-box:selected .box {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, white, 10, -3, 0, 0);
}

.check-box:selected:hover .box {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, white, 20, -6, 0, 0);
}

.check-box:disabled, .check-box:disabled > * {
    -fx-opacity: 0.85;
}