.question-label {
    -fx-font-size: 32px;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.answer-label {
    -fx-font-size: 26px;
    -fx-font-family: "Arial Black";
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.button {
    -fx-width: 80%;
    -fx-background-color: rgba(51, 0, 102, 0.09);
}

.button:hover {
    -fx-background-color: rgba(0, 50, 250, 0.1);
}

.button:focused {
    -fx-background-color: rgba(0, 50, 250, 0.3);
}