.label {
    -fx-font-size: 27px;
    -fx-font-family: "Lora-Bold";
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.label-small {
    -fx-font-size: 23px;
    -fx-font-family: "Lora-Bold";
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.button {
    -fx-width: 80%;
    -fx-background-color: white;
}

.button:hover {
    -fx-background-color: rgba(0, 50, 250, 0.2);
}

.button:focused {
    -fx-background-color: rgba(0, 50, 250, 0.35);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 20, -5, 0, 0);
}