.view {
    -fx-font-size: 17px;
    -fx-font-family: "Lora-Bold";
    -fx-text-fill: #333333;
    -fx-background-color: FDFCFD;
}

.button {
    -fx-font-size: 17px;
    -fx-font-family: "Lora-Bold";
    -fx-background-color: rgba(1, 0, 1, 0.05);
    -fx-effect: dropshadow(gaussian, white, 50, -6, 0, 0);
}

.button:hover {
    -fx-background-color: rgba(0, 50, 250, 0.1);
}

.button:focused {
    -fx-background-color: rgba(0, 50, 250, 0.3);
}

.button:focused:hover {
    -fx-background-color: rgba(0, 50, 250, 0.2);
}

.button:default {
    -fx-background-color: rgba(51, 0, 102, 0.05);
}

.button:default:hover {
    -fx-background-color: rgba(0, 50, 250, 0.1);
}

.button:default:selected {
    -fx-background-color: rgba(51, 0, 152, 0.2);
}

.button:default:focused {
    -fx-background-color: rgba(0, 50, 250, 0.3);
    -fx-effect: dropshadow(gaussian, white, 50, -6, 0, 0);
}

.button:default:focused:hover {
    -fx-background-color: rgba(0, 50, 250, 0.2);
}

.button:selected {
    -fx-background-color: #3e8e41;
}